body{
    background-color: blue;
  
}


#content{
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.cards {
    display: flex;
    color: #ffffff;
    border: 2px solid #283593;
    background-color: #3949AB;
    padding: 1em;
    justify-content: center;
}


.header{
    display: flex;
    justify-content: center;
    gap: 0.5em;
}


.tab {
    background-color: #3949AB;
    padding: 0.5em;
}


.multiLine {
    flex-direction: column;
}